# This is Git's per-user configuration file.
[core]
    editor = nvim

[user]
    name = 3DRX
    email = kjy20030228@icloud.com

[difftool]
    prompt = true

[diff]
    tool = nvimdiff

[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[color]
    ui = true

[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
